PyQt5
pyqtgraph
matplotlib
plotly
pandas
numpy
requests
websocket-client
python-binance
ccxt
scikit-learn
tensorflow
torch
xgboost
nltk
transformers
spacy
textblob
cryptography
python-dotenv
SQLAlchemy
keyring
PyInstaller
